version: '3.8'

services:
  server:
    container_name: server
    build:
      context: .
      dockerfile: docker.dockerfile
      args:
        - BUILD_CONTEXT=server
    ports:
      - '3333:3333'
    networks:
      - back-tier
    depends_on:
      - postgres-db
    restart: always

  postgres-db:
    expose:
      - 5432
    restart: always
    env_file: .env
    volumes:
      - pgReportData:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: testdb
    container_name: postgres-db
    image: postgres:10
    networks:
      - back-tier

volumes:
  pgReportData:
    driver: local
  node_modules:

networks:
  back-tier: